$bg-color: #5D574E;
$tile-color: #333333;

$button-hover-bg-color: #E8E9E8;

$number-text-color-2: #5D574E;
$number-background-color-2: #EEEEEE;

$number-text-color-4: #5D574E;
$number-background-color-4: #E0CEAF;

$number-text-color-8: #E8E9E8;
$number-background-color-8: #E49961;

$number-text-color-16: #E8E9E8;
$number-background-color-16: #E67D4D;

$number-text-color-32: #E8E9E8;
$number-background-color-32: #E5644E;

$number-text-color-64: #E8E9E8;
$number-background-color-64: #E54832;

$number-text-color-128: #E8E9E8;
$number-background-color-128: #DFBA58;

$number-text-color-256: #E8E9E8;
$number-background-color-256: #DFB748;

$number-text-color-512: #E8E9E8;
$number-background-color-512: #D5B230;

$number-text-color-1024: #E8E9E8;
$number-background-color-1024: #DEB228;

$number-text-color-2048: #E8E9E8;
$number-background-color-2048: #DEAD18;

$number-text-color-4096: #E8E9E8;
$number-background-color-4096: #DD5057;

$number-text-color-8192: #E8E9E8;
$number-background-color-8192: #DB3547;

$number-text-color-16384: #E8E9E8;
$number-background-color-16384: #E52A34;

$number-text-color-32768: #E8E9E8;
$number-background-color-32768: #5FA1C4;

$number-text-color-65536: #E8E9E8;
$number-background-color-65536: #4F8BD7;

$number-text-color-131072: #E8E9E8;
$number-background-color-131072: #186DC0;

$number-text-color-262144: #E8E9E8;
$number-background-color-262144: #FF33FF;
