@import "variables";

html, body {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

#game-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  .buttons {
    display: flex;
    width: 400px;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;

    #restartButton {
      padding: 20px;
    }

    #undoButton {
      padding: 20px;
    }
  }

}

#game {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  width: 400px;
  height: 400px;
  max-width: 100%;
  max-height: 100%;
  background-color: $bg-color;

  .row {
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
  }

  .tile {
    display: flex;
    flex: 1 1 100%;
    align-items: center;
    justify-content: center;
    border: 5px solid $bg-color;
    background-color: $tile-color;
    overflow: hidden;
  }

  .number-2 {
    color: $number-text-color-2;
    background-color: $number-background-color-2;
  }
  .number-4 {
    color: $number-text-color-4;
    background-color: $number-background-color-4;
  }
  .number-8 {
    color: $number-text-color-8;
    background-color: $number-background-color-8;
  }
  .number-16 {
    color: $number-text-color-16;
    background-color: $number-background-color-16;
  }
  .number-32 {
    color: $number-text-color-32;
    background-color: $number-background-color-32;
  }
  .number-64 {
    color: $number-text-color-64;
    background-color: $number-background-color-64;
  }
  .number-128 {
    color: $number-text-color-128;
    background-color: $number-background-color-128;
  }
  .number-256 {
    color: $number-text-color-256;
    background-color: $number-background-color-256;
  }
  .number-512 {
    color: $number-text-color-512;
    background-color: $number-background-color-512;
  }
  .number-1024 {
    color: $number-text-color-1024;
    background-color: $number-background-color-1024;
  }
  .number-2048 {
    color: $number-text-color-2048;
    background-color: $number-background-color-2048;
  }
  .number-4096 {
    color: $number-text-color-4096;
    background-color: $number-background-color-4096;
  }
  .number-8192 {
    color: $number-text-color-8192;
    background-color: $number-background-color-8192;
  }
  .number-16384 {
    color: $number-text-color-16384;
    background-color: $number-background-color-16384;
  }
  .number-32768 {
    color: $number-text-color-32768;
    background-color: $number-background-color-32768;
  }
  .number-65536 {
    color: $number-text-color-65536;
    background-color: $number-background-color-65536;
  }
  .number-131072 {
    color: $number-text-color-131072;
    background-color: $number-background-color-131072;
  }
  .number-262144 {
    color: $number-text-color-262144;
    background-color: $number-background-color-262144;
  }
}
